btop
forge
htop
lutris
dconf
discord
cef_user_data
'Github Desktop'
hypr
menus
gnome-control-center
i3
pop-shell
yay
gnome-session
ibus
pulse
epiphany
goa-1.0
kanshi
nautilus
evolution
gtk-3.0
neofetch
unity3d
